.descriptionStyle {
    width: 400px;
    margin-left: 102px;
}

.contImg4 {
    margin-top: -120px;
}

.boyPhoto4 {
    margin-top: -950px;
    margin-left: 585px;
    border-radius: 15px;
    height: 430px;
    width: 310px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}